#article,
#join,
#hero,
#information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
div {
  text-align: center;

}
li {
  text-align: start;

}
#information {
  gap: .05rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

}
