/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #14213D;
    display: grid;
    grid-template-columns: 175px auto;
    color: white;
}
header div{
    margin-left:10px;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #FCA311;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #E5E5E5;
}
nav ul li.active a {
    background-color: #E5E5E5;
    color: #000000;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #14213D;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}

/*----------- IMAGES --------------*/
.colorscheme{
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.audience{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
